<!--Documento CSS - Pagina Home -->
body{
	 -webkit-text-align: center;
       -moz-text-align: center;
            text-align: center;
}
iframe{
    overflow: auto;
    -webkit-height: 55px;
       -moz-height: 55px;
            height: 55px;
    -webkit-width: 1550px;
       -moz-width: 1550px;
            width: 1550px;
}
.footer{
    -webkit-position: absolute;
       -moz-position: absolute;
            position:absolute;
    -webkit-width: 1550px;
       -moz-width: 1550px;
            width: 1550px;
    -webkit-height: 30px;
       -moz-height: 30px;
            height: 30px;
}