.banner{
    background-color: black;
    
    background-size: 300px 150px;
    color: white;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    height: auto;
    margin: 0 auto;
}

img{
	
}